.likes-header{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    height: 60px;
    flex-wrap: wrap;
    align-content: center;
    font-weight: 500;
}

.likes-page-container{
    background-color: rgb(247, 206, 212);
    display: grid;
    height: 100%;
    grid-template-areas: 
        "title"
        "list"
        ;
    grid-template-rows: 0.4fr 4fr;
}

.likes-title-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    grid-area: title;
}

.likes-subtTitle{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    color: #3b3b3b;
}

.likes-title{
    font-size: 18px;
    padding: 6px;
}

.like-list-container{
    grid-area: list;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    height: auto;
    gap:20px;
    overflow-x: scroll;
}

.like-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.like{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: auto;
    width: auto;
}

.like-details{
    display: flex;
    justify-content: center;
    flex: 1;
    flex-wrap: nowrap;
    p{
        color: grey;
    }
    h2{
        text-align: center;
    }
    
}

.like-image{
    padding: 20px;
    img{
        height: 200px !important;
        width: 200px !important;
    }
}

.like-timestamps{
    display: flex;
    justify-content: center;
    color: lightgray;
    border-bottom:  1px solid #fafafa;
    width: 250px;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    text-decoration: none;
    color: inherit;
}

.like-image{
    width: 250px !important;
    height: 250px !important;
    border-radius: 0px !important;
}
