.chat{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 70px;
    border-bottom:  1px solid #fafafa;
}

.chat-details{
    overflow-x: hidden;
    flex: 1;
    p{
        color: grey;
    }
    h2{
        text-overflow: ellipsis; /* Handle overflow with ellipsis */
        overflow: hidden;
        white-space: nowrap; /* Prevent wrapping */
    }
}

.chat-image{
    margin-right: 20px;
}

.chat-timestamps{
    color: lightgray;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    text-decoration: none;
    color: inherit;
}

.chat-image{
    width: 40px !important;
    height: 40px !important;
}

